#Heroku
HEROKU_PROJECT_NAME=stockmarketstat

# Accepted values: PROD DEV
ENVIRONMENT=DEV
DEBUG=True

# Django
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_SECRET_KEY=d!&5zuo%z@mw$&hq3pvts05+)h9y*w4x)@t6o2^p#njn@etfr$
EXTERNAL_IP=

# Email
DJANGO_EMAIL_HOST=smtp-server
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_HOST_USER=user
DJANGO_EMAIL_HOST_PASSWORD=password
DJANGO_EMAIL_USE_SSL=1
DJANGO_EMAIL_DEFAULT_FROM=from@server.fr

# Django Admin
DJANGO_ADMIN=admin
DJANGO_ADMIN_PASSWORD=password
DJANGO_ADMIN_EMAIL=admin@localhost

# Postgres
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOSTNAME=postgres
POSTGRES_PORT=5432

# CELERY
CELERY_BROKER_URL=amqp://user:password@rabbitmq:5672/rmquser

RABBITMQ_DEFAULT_VHOST=rmquser
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password